## Import modules

In [1]:
import os
import pandas as pd
import numpy as np
os.listdir('./data')

['verified_0',
 'verified_0_prepre',
 'verified_0_post',
 'verified_0_pre',
 'misc.',
 'master.csv']

## Fetch data

In [2]:
tweets = pd.read_csv('./data/master.csv', lineterminator='\n')

tweets.head(3)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1365744207437172743,1365744207437172743,2021-02-28 00:52:48 IST,2021-02-28,00:52:48,530,602324925,davidzhorvath,DAVID HORVATH,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1365672463162511360,1365672463162511360,2021-02-27 20:07:42 IST,2021-02-27,20:07:42,530,147645576,starkillers,Starkillers.x,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1365658124649189379,1365655495047073794,2021-02-27 19:10:44 IST,2021-02-27,19:10:44,530,21355864,tj,TAYLOR JONΞS,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

## Observe basic details/statistics of data

In [3]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100200 entries, 0 to 100199
Data columns (total 36 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               100200 non-null  int64
 1   conversation_id  100200 non-null  int64
 2   created_at       100200 non-null  object
 3   date             100200 non-null  object
 4   time             100200 non-null  object
 5   timezone         100200 non-null  int64
 6   user_id          100200 non-null  int64
 7   username         100200 non-null  object
 8   name             100200 non-null  object
 9   place            50 non-null      object
 10  tweet            100200 non-null  object
 11  language         100200 non-null  object
 12  mentions         100200 non-null  object
 13  urls             100200 non-null  object
 14  photos           100200 non-null  object
 15  replies_count    100200 non-null  int64
 16  retweets_count   100200 non-null  int64
 17  likes_count      100200 non-null  int64
 18  hashtags         100200 non-null  object
 19  cashtags         100200 non-null  object
 20  link             100200 non-null  object
 21  retweet          100200 non-null  bool
 22  quote_url        12106 non-null   object
 23  video            100200 non-null  int64
 24  thumbnail        42549 non-null   object
 25  near             0 non-null       float64
 26  geo              0 non-null       float64
 27  source           0 non-null       float64
 28  user_rt_id       0 non-null       float64
 29  user_rt          0 non-null       float64
 30  retweet_id       0 non-null       float64
 31  reply_to         100200 non-null  object
 32  retweet_date     0 non-null       float64
 33  translate        0 non-null       float64
 34  trans_src        0 non-null       float64
 35  trans_dest       0 non-null       float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 26.9+ MB

## Filter 1: Drop columns with 0 non-null values

In [4]:
# Fetch non-null features
non_null_cols = tweets.columns[tweets.isnull().sum() < len(tweets)].to_list()

In [5]:
df1 = tweets[non_null_cols]

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100200 entries, 0 to 100199
Data columns (total 26 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               100200 non-null  int64
 1   conversation_id  100200 non-null  int64
 2   created_at       100200 non-null  object
 3   date             100200 non-null  object
 4   time             100200 non-null  object
 5   timezone         100200 non-null  int64
 6   user_id          100200 non-null  int64
 7   username         100200 non-null  object
 8   name             100200 non-null  object
 9   place            50 non-null      object
 10  tweet            100200 non-null  object
 11  language         100200 non-null  object
 12  mentions         100200 non-null  object
 13  urls             100200 non-null  object
 14  photos           100200 non-null  object
 15  replies_count    100200 non-null  int64
 16  retweets_count   100200 non-null  int64
 17  likes_count      100200 non-null  int64
 18  hashtags         100200 non-null  object
 19  cashtags         100200 non-null  object
 20  link             100200 non-null  object
 21  retweet          100200 non-null  bool
 22  quote_url        12106 non-null   object
 23  video            100200 non-null  int64
 24  thumbnail        42549 non-null   object
 25  reply_to         100200 non-null  object
dtypes: bool(1), int64(8), object(17)
memory usage: 19.2+ MB

## Filter 2: Observe 'suspicious' columns and drop the ones that are unlikely to provide any insights

In [ ]:
import ast

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100200 entries, 0 to 100199
Data columns (total 28 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               100200 non-null  int64
 1   conversation_id  100200 non-null  int64
 2   created_at       100200 non-null  object
 3   date             100200 non-null  object
 4   time             100200 non-null  object
 5   timezone         100200 non-null  int64
 6   user_id          100200 non-null  int64
 7   username         100200 non-null  object
 8   name             100200 non-null  object
 9   place            100200 non-null  object
 10  tweet            100200 non-null  object
 11  language         100200 non-null  object
 12  mentions         100200 non-null  object
 13  urls             100200 non-null  object
 14  photos           100200 non-null  object
 15  replies_count    100200 non-null  int64
 16  retweets_count   100200 non-null  int64
 17  likes_count      100200 non-null  int64
 18  hashtags         100200 non-null  object
 19  cashtags         100200 non-null  object
 20  link             100200 non-null  object
 21  retweet          100200 non-null  bool
 22  quote_url        12106 non-null   object
 23  video            100200 non-null  int64
 24  thumbnail        42549 non-null   object
 25  reply_to         100200 non-null  object
 26  longitude        100200 non-null  float64
 27  latitude         100200 non-null  float64
dtypes: bool(1), float64(2), int64(8), object(17)
memory usage: 20.7+ MB

In [11]:
df1['id'].head(3)

0    1365744207437172743
1    1365672463162511360
2    1365658124649189379
Name: id, dtype: int64

We will need the `id` column as a unique identifier of tweets

In [12]:
df1['conversation_id'].head(3)

0    1365744207437172743
1    1365672463162511360
2    1365655495047073794
Name: conversation_id, dtype: int64

`conversation_id` is the same as `id`

In [13]:
df1['created_at'].head(3)

0    2021-02-28 00:52:48 IST
1    2021-02-27 20:07:42 IST
2    2021-02-27 19:10:44 IST
Name: created_at, dtype: object

`created_at` is already split as `date` and `time`

In [14]:
df1['timezone'].value_counts()

530    100200
Name: timezone, dtype: int64

`timezone` is the same, thus making it redundant

In [15]:
df1['user_id'].head(3)

0    602324925
1    147645576
2     21355864
Name: user_id, dtype: int64

`user_id` is not as insightful as `username`, they point to the same aspect

In [16]:
df1['name'].head(3)

0    DAVID HORVATH
1    Starkillers.x
2     TAYLOR JONΞS
Name: name, dtype: object

Again, `name` might not be required for analysis

In [17]:
df1['mentions'].head(3).iloc[1]

"[{'screen_name': 'forbes', 'name': 'forbes', 'id': '91478624'}, {'screen_name': 'zilliqa', 'name': 'zilliqa', 'id': '872984298973941764'}, {'screen_name': 'mintable_app', 'name': 'mintable', 'id': '1070246849234096134'}]"

We are interested in obtaining each of the `screen_name`s

In [19]:
ast.literal_eval(df1['hashtags'][2])

['nftart', 'nftcommunity']

We are interested in obtaining each of the `hashtag`s. Note: There are multiple hashtags associated with a single tweet

In [20]:
df1['cashtags'].sample(3)

36944    []
63105    []
77931    []
Name: cashtags, dtype: object

We are interested in obtaining each of the `cashtag`s

In [21]:
df1['link'].head(3)

0    https://twitter.com/davidzhorvath/status/13657...
1    https://twitter.com/Starkillers/status/1365672...
2    https://twitter.com/TJ/status/1365658124649189379
Name: link, dtype: object

`link` might not be of much help here

In [22]:
df1['retweet'].value_counts()

False    100200
Name: retweet, dtype: int64

All values are `False`, this can be dropped

In [23]:
df1['thumbnail'].value_counts()

https://pbs.twimg.com/media/E2_6z9FXEAEdI0i.jpg                                             28
https://pbs.twimg.com/media/E0LNc1vXMAAMRgQ.jpg                                             28
https://pbs.twimg.com/media/ExTokq1WEAAHNf6.jpg                                             14
https://pbs.twimg.com/ext_tw_video_thumb/1381416854300729345/pu/img/tNeeFALZAzxkqdBw.jpg    10
https://pbs.twimg.com/ext_tw_video_thumb/1380168083168497668/pu/img/vHWiWtE7LPsUHp6P.jpg    10
                                                                                            ..
https://pbs.twimg.com/ext_tw_video_thumb/1469752109654495247/pu/img/lGgme5zde5MD5VRR.jpg     1
https://pbs.twimg.com/ext_tw_video_thumb/1466331237342224391/pu/img/ZuebLvmm34byBz3B.jpg     1
https://pbs.twimg.com/tweet_video_thumb/FGQbKm8VcAMyEfD.jpg                                  1
https://pbs.twimg.com/media/FD2JsiKVUAUOEzR.jpg                                              1
https://pbs.twimg.com/tweet_video_thumb/E5EqRF-X0AAycVu.jpg                                  1
Name: thumbnail, Length: 40062, dtype: int64

`thumbnail` seems too complex to get any insight, so dropping this one too

In [24]:
df1['quote_url'].sample(5)

70380    NaN
64909    NaN
40806    NaN
83816    NaN
13112    NaN
Name: quote_url, dtype: object

`quote_url`s can be useful

In [25]:
df1['video'].value_counts()

0    57651
1    42549
Name: video, dtype: int64

In [26]:
df1.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'reply_to', 'longitude', 'latitude'],
      dtype='object')

In [27]:
# Columns to be dropped
drop_cols = ['conversation_id', 'created_at','place', 'timezone', 'user_id','name', 
             'link', 'retweet', 'thumbnail']
df2 = df1.drop(drop_cols, axis= 1)

## Transform values

In [28]:
df2.columns

Index(['id', 'date', 'time', 'username', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'quote_url', 'video', 'reply_to', 'longitude',
       'latitude'],
      dtype='object')

In [29]:
unique_users = df2['username'].nunique()
print(f'There are {unique_users} unique users tweeting on NFTs')
unique_languages = df2['language'].nunique()
print(f'Tweets on NFTs were observed in {unique_languages} unique languages')

There are 9668 unique users tweeting on NFTs
Tweets on NFTs were observed in 50 unique languages

## Main Transformations  


We will now proceed to obtain each of the following elements, to obtain counts/sum; even if there are multiple elements in each record. The elements are:  
- Hashtags  
- Cashtags
- Forum
- Quote URLs
- Mentions
- Reply To

In [30]:
df2['hashtags'] = df2['hashtags'].apply(lambda x: ast.literal_eval(x))

df2['cashtags'] = df2['cashtags'].apply(lambda x: ast.literal_eval(x))

df2['forum'] = df2['urls'].apply(lambda x: ast.literal_eval(x)).apply(lambda x:[url.split('/')[2] for url in x])

In [31]:
df2['quote_url'].fillna('x//x/none', inplace= True)
df2['quote_url'].replace('0', 'x//x/none', inplace= True)

df2['quoted_user'] = df2['quote_url'].apply(lambda x: x.split('/')[3])


df2['mentioned_user'] = df2['mentions'].apply(lambda x: ast.literal_eval(x)).apply(lambda x: [user['screen_name'] for user in x])

df2['reply_to_user'] = df2['reply_to'].apply(lambda x: ast.literal_eval(x)).apply(lambda x: [user['screen_name'] for user in x])

In [32]:
# Aggregate all the columns required for analysis
columns = ['id', 'date', 'time', 'username', 'tweet', 'language', 'mentioned_user', 'forum',
        'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'quoted_user', 'video', 'reply_to_user', 'longitude', 'latitude']

In [34]:
df2[columns].sample(2)

,id,date,time,username,tweet,language,mentioned_user,forum,replies_count,retweets_count,likes_count,hashtags,cashtags,quoted_user,video,reply_to_user,longitude,latitude
73351,1493493449680887811,2022-02-15,13:22:40,flufworld,4) A LOT goes into making this happen. The...,en,[beyondvrgames],[],1,2,30,"[flufworld, nftcommunity]",[],none,1,[],0.0,0.0
56618,1468864358033809408,2021-12-09,14:15:27,ralvero,"This project on ETH looks really amazing, I l...",en,[],"[bit.ly, t.me]",40,42,59,"[nft, nfts]",[],none,1,[],0.0,0.0

In [35]:
df2.to_csv('./data/master_explode.csv', index= False)

### Transform features from wide to long format

In [36]:
explode_cols = ['mentioned_user', 'forum', 'hashtags', 'cashtags', 'reply_to_user']
eval_cols = dict.fromkeys(explode_cols, pd.eval) # 'quoted_user',

In [37]:
explode = pd.read_csv('./data/master_explode.csv', lineterminator='\n', converters= eval_cols)
final = explode[columns]

In [38]:
final.to_csv('./data/nft_verified_tweets.csv', index= False)

In [39]:
final.head(2)

,id,date,time,username,tweet,language,mentioned_user,forum,replies_count,retweets_count,likes_count,hashtags,cashtags,quoted_user,video,reply_to_user,longitude,latitude
0,1365744207437172743,2021-02-28,00:52:48,davidzhorvath,"My work, one of many, from a solo show in Toky...",en,[],[],1,0,9,[nftart],[],none,1,[],0.0,0.0
1,1365672463162511360,2021-02-27,20:07:42,starkillers,#nftart article from @Forbes #zil @zilliqa get...,en,"[forbes, zilliqa, mintable_app]","[www.forbes.com, bit.ly]",1,15,56,"[nftart, zil, nft]",[],none,0,[],0.0,0.0

In [40]:
def explode_col(col, df= final, export_required= False):
    """
    Explode dataframe based on a certain feature
    
    Input: 
        col: Feature on the basis of which the DataFrame will be transformed
        df: The DataFrame which is to be transformed
        export_required: If `True`, then the transformed DataFrame is saved in CSV format
        
    Output:
        exploded_df: Transformed DF
    """
    exploded_df = df[['id', 'date', 'time', col]].explode(col).fillna('none')
    
    if export_required:
        exploded_df.to_csv(f'./data/explode_{col}', index= False)
    return exploded_df

In [41]:
user_mentions = explode_col('mentioned_user', export_required= True)

forums = explode_col('forum', export_required= True)

hashtags = explode_col('hashtags', export_required= True)

cashtags = explode_col('cashtags', export_required= True)

replies = explode_col('reply_to_user', export_required= True)

In [43]:
# Fetch only english tweets
eng_tweets = final[final['language']=='en']
eng_tweets.to_csv('./data/nft_verified_tweets_english.csv', index= False)